[Unit]
Description=Thermostat Control Daemon (Thermostat Logic)
After=thermostat-setup.service thermostat-sensor.service

[Service]
Environment=PYTHONUNBUFFERED=1
Type=simple
ExecStart=/usr/share/thermostat/control.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
